/vendor
/node_modules
/.env
/.env.backup
/.phpunit.result.cache
/build/
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*.php
/.idea
/.vscode
/Homestead.json
/Homestead.yaml
auth-api-doc.md
.env

